:root {
  --dark-grayish-green: #868a7b;
  --very-dark-gray: #333333;
  --white: #fff;
  --fullsize: 100%;
}

@define-mixin fontstyle $size, $color {
  font-size: $(size)px;
  font-size: calc($size/16)rem;
  color: $color;
}

h3 {
  @mixin fontstyle 32, #fff;
  text-transform: uppercase;
}

.info {
  h3 {
    @mixin fontstyle 20, #fff;
  }
}

html,
body {
  width: var(--fullsize);
  padding: 0;
  margin: 0;
  height: var(--fullsize);
  min-width: var(--fullsize);
  max-width: var(--fullsize);
  overflow: hidden;
  background: var(--dark-grayish-green);
}

img {
  width: var(--fullsize);
  height: var(--fullsize);
}
